.userContainer {
    display: flex;
    gap: 20px;
}
.user {

}
.userInfo {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.photo {
    height: 150px;
    max-width:100px;
    width: 100%;
    object-fit: cover;
}