.main {
    grid-area: main;
    background-color: darkmagenta;
    background-image: url("https://images.unsplash.com/photo-1550522667-09c9bdb293a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2VlfGVufDB8fDB8fHww&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    display: flex;
}

.intro img {
    max-width: 150px;
    height: 150px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}