.header {
    background-color: aquamarine;
    grid-area: header;
    display: flex;
    justify-content: space-between;
}
.logo {
     max-width: 75px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}