.nav {
    grid-area: nav;
    background-color: cadetblue;
    padding: 10px 0 0 15px;

}
.nav ul {
    color: white;
}
.nav .active {
    color:gold;
}
.nav a {
    color: white;
    text-decoration: none;
}

