.profile {

}

.intro {
    display: flex;
    gap:20px
}
.ProfileName {
    color:gold;
}
.img {
    max-width: 150px;
    height: 150px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
