.app-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 68px 1fr;
    grid-template-areas: "header header "
                       "nav main"
}
.app-wrapper-main {
    padding: 10px 0 0 10px;
    grid-area: main;
    background-color: darkmagenta;
    background-image: url("https://images.unsplash.com/photo-1550522667-09c9bdb293a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2VlfGVufDB8fDB8fHww&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}