.app-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 68px 1fr;
    grid-template-areas: "header header "
                       "nav main"
}