.dialogWrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dialogItems {

}
.dialog {
    color: white;
}

.active {
    color: gold;
}

.message {
    color: orangered;
}
.item:hover {
    color: #00ffc1;
}
li > a {
    color:white;
}
li > a:hover {
    color: #00ffc1;

}

